﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Micro-Internship Portal</h1>
    <p class="lead">Currently under construction!</p>
    <p><a href="https://github.com/joshua-aquino/MicroInternships" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>
