﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a href="https://www.unf.edu">
                    <img src="https://www.unf.edu/uploadedImages/images/logos/UNF_Logo.gif" alt="UNF" border="0">
                </a>
                <a href="https://www.unf.edu/ccbl">
                    <img src="https://www.unf.edu/uploadedImages/images/logos/ccbl.gif" alt="Center for Community-Based Learning" border="0">
                </a>
            </div>
        </nav>
    </header>
    <div class="container" id="guide">
        <div class="row">
            <div class="col-sm-2">@Html.ActionLink("Home", "Index", "Home")</div>
            <div class="col-sm-2">@Html.ActionLink("Administrator", "Index", "Administrator")</div>
            <div class="col-sm-2">@Html.ActionLink("Community", "Index", "Community")</div>
            <div class="col-sm-2">@Html.ActionLink("Register", "Register", "Home")</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
