﻿
@{
    ViewBag.Title = "Community User";
}

<h2>Community User</h2>
<ul>
    <li>@Html.ActionLink("Create Project", "CreateProject", "Community")</li>
    <li>@Html.ActionLink("Register Organization", "NewOrganization", "Community")</li>
</ul>

