﻿
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<ul>
    <li>@Html.ActionLink("View Users", "ViewUsers", "Administrator")</li>
    <li>@Html.ActionLink("View Projects", "ViewProjects", "Administrator")</li>
    <li>@Html.ActionLink("View Organizations", "ViewOrganization", "Administrator")</li>
</ul>

