﻿@model IEnumerable<MicroInternshipsApp.Models.OrganizationModel>

@{
    ViewBag.Title = "Organization Report";
}

<h2>Organization Report</h2>

<p>
    @Html.ActionLink("Create New", "NewOrganization", "Community")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationWebsite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationWebsite)
        </td>
    </tr>
}

</table>
