﻿@model IEnumerable<MicroInternshipsApp.Models.ProjectModel>

@{
    ViewBag.Title = "Project Report";
}

<h2>Project Report</h2>

<p>
    @Html.ActionLink("Create New", "RegisterProject", "Community")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
    </tr>
}

</table>
